* {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  background-size: cover;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cont {
  position: relative;
  top: 150px;
}

.title h1 {
  font-family: "Press Start 2P", cursive;
  /* text-align: center; */
  font-size: 25px;
  position: relative;
  bottom: 50px;
}

.menu .btnChoice {
  width: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.pilih {
  font-size: 30px;
  top: 200px;
}

#num1,
#num2 {
  width: 50px;
}

#op {
  width: 20px;
}

#opLog {
  width: 60px;
}

#equal {
  margin: 5px;
  width: 66px;
}

.tmTape-wrapper {
  max-width: 1500px;
  min-height: 95px;
  overflow: auto;

  border-top: 1px solid rgb(188, 0, 194);
  border-bottom: 1px solid rgb(188, 0, 194);

  margin: 2em auto;
  padding: 1em 0 0;
  position: relative;
  display: flex;
  gap: 3px;
  align-items: flex-start;
  justify-content: start;
}

/* TM element */
.tmTape-wrapper > * {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5em 1em;
  font-size: 20pt;
  background-color: rgb(205, 119, 231);
  color: Black;
  border-radius: 5px;
  border-radius: 50%;
  border: 1px solid #9000ff;
  font-weight: normal;
}
.active {
  background-color: #ffc8b0;
  font-weight: bolder;
}
